@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');


body{
    margin: 0 !important;
    padding: 0 !important;
}

header{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: white;
    font-stretch: narrower;
    background-color: rgb(127, 197, 48);
    width: 100%;
    box-shadow: inset 1px -27px 31px -14px rgb(153, 248, 97);
    text-align: center;
}

h1{
    font-size: 40px;
    margin: 0;
}

main{
    margin: 50px;
    align-items: center;
}

.content-wrapper{
    margin: 50px auto; 
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.img-container{
    width: auto;
    height: 20rem;
    position: relative;
    margin-bottom: 20px;
    align-items: center;
}

img{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}

.buttons-container{
    display: flex;
    flex-direction: row;
}

button{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: white;
    background-color: rgb(127, 197, 48);
    border: 1px solid black;
    width: 30%;
    margin: 0 auto;
    padding: 5px;
    font-size: 20px;
}

button:hover{
    background-color: rgb(165, 194, 131);
    cursor: pointer;
}

